<header>
  <h1>Welcome to Minesweeper</h1>
  <h4>
    Left-click to mark a block as safe. Right-click to flag blocks you believe
    to contain mines.
  </h4>
  <h4>Uncover all safe blocks without clicking any mines to win.</h4>
  <h2 *ngIf="msg">{{ msg }}</h2>
  <button (click)="generateGame()">New Game</button>
  <div>
    <button [disabled]="bombProb === 0.561" (click)="setBombProb(0.561)">
      Beginner
    </button>
    <button [disabled]="bombProb === 0.576" (click)="setBombProb(0.576)">
      Intermediate
    </button>
    <button [disabled]="bombProb === 0.601" (click)="setBombProb(0.601)">
      Expert
    </button>
  </div>
</header>
<section>
  <div class="game-columns">
    <div class="game-rows" *ngFor="let row of blocks; index as r">
      <div
        class="block"
        *ngFor="let block of row; index as c"
        (click)="onClick(block, r, c)"
        (contextmenu)="onRightClick($event, block)"
        [class.bomb]="block.selected && block.isBomb"
        [class.safe]="block.selected && !block.isBomb"
        [class.flagged]="block.flagged"
      >
        <img *ngIf="block.flagged && !msg" src="assets/flag.png" alt="flag" />
        <img
          *ngIf="block.selected && block.isBomb"
          src="assets/bomb.png"
          alt="bomb"
        />
        <span *ngIf="block.selected && !block.isBomb">{{
          block.numBombsSurrounding
        }}</span>
      </div>
    </div>
  </div>
</section>
